$isDebug: false;

$tab-content-bgcolor: rgba(0,0,0,0);
$quiz-content-panel-bgcolor: rgba(0,0,0,0);
$quiz-add-panel-bgcolor: rgba(0,0,0,0);
$quiz-table-bgcolor: rgba(0,0,0,0);
$tb-row-bgcolor: rgba(0,0,0,0);
$tb-data-bgcolor: rgba(0,0,0,0);
$braindead-main-bgcolor: rgba(0,0,0,0); 
//$braindead-bottom-bgcolor: rgba(0,0,0,0); 
$braindead-bottom-bgcolor: white; 
$braindead-infoscroller-bgcolor: #efefef;

@if $isDebug == true {
  $tab-content-bgcolor: red;
  $quiz-content-panel-bgcolor: blue;
  $quiz-add-panel-bgcolor: green;
  $quiz-table-bgcolor: gray;
  $tb-row-bgcolor: yellow;
  $tb-data-bgcolor: purple;
  $braindead-main-bgcolor: #00ffff; 
  $braindead-bottom-bgcolor: #ff00ff; 
  $braindead-infoscroller-bgcolor: green;
}

/*
body {
  padding:0;
  margin:0;
}
  */

#braindead-iframe {
  z-index:2147483647 !important;
  display:none;
  background-color:rgba(0,0,0,0.9) !important;
  position: fixed !important;
  //top:0px;
  bottom:10px !important;
  right:10px !important;
  width:420px !important;
  height:350px !important;
  overflow:hidden;
  padding:0;
  margin:0;
}

#facebook_load_frame {
  width:1px;
  height:1px;
  border:0;
  position:absolute;
  top:0;
  left:0;
  display:none;
}

#braindead {
  width:420px;
  height:350px;

  #braindead-login{
    background-color: $braindead-main-bgcolor;
    border-style: none;
    width:250px;
    height:100px;
    margin: 100px auto;

    table {
      color:white; 

      tr {
        td {
          padding: 5px;
          text-align:left;
        }
      }
    }
  }

  #braindead-main {
    background-color:$braindead-main-bgcolor;
    border-style: none;
  }

  #braindead-bottom {
    background-color:$braindead-bottom-bgcolor;
    position:absolute; 
    bottom:2px;
    left:2px;
    width:99%;
    height:24px;
    color:black;

    #braindead-infoscroller {
      float:left;
      width:93%;
      height:20px;
      line-height:20px;
      vertical-align:middle;
      position:absolute; 
      bottom:2px;
      left:2px;
      background-color:$braindead-infoscroller-bgcolor;
    }

    #braindead-logo {
      float:right;
      margin-right:2px;
      margin-top:2px;
      width:20px;
      height:20px;

      #braindead-logo-img {
        width:20px;
        height:20px;
      }
    }
  }

  .tab-content {
    background-color:$tab-content-bgcolor;
    font-size:12px;

    .title {
      color:white;
    }
  }

  #quiz-upper-panel {
    //background-color:yellow;
    overflow:auto;

    #quiz-content-panel {
      background-color:$quiz-content-panel-bgcolor;
      float:left; 
      width:80%;

      .quiz-input {
        width:90%;
      }

      #quiz-table {
        width:100%;
        background-color:$quiz-table-bgcolor;
        height:80px;

        .tb-row  { 
          width:100%; 
          background-color:$tb-row-bgcolor;
        }
        .tb-data { 
          background-color:$tb-data-bgcolor;
          width:100%; 
          text-align:left; 
        }
      }
    }

    #quiz-add-panel {
      //position:relative;
      background-color:$quiz-add-panel-bgcolor;
      float:left; 
      width:20%; 
      height:80px;
      line-height:80px;
      text-align:center;
      
      #quiz-add-button {
        margin-top:47px;
        padding:5px 15px; 
        background:white; 
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
      }
    }
  }

  #quiz-bottom-panel {
    overflow:auto; 
    height:140px;
    
    #quizzes-table {

      .quizzes-question {
        color:white;
      }

      .quiz_delete {
        color:white;
      }
    }
  }

}
