/* line 23, ../sass/braindead.scss */
#braindead {
  z-index: 2147483647;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 420px;
  height: 350px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
}
/* line 37, ../sass/braindead.scss */
#braindead #braindead-main {
  background-color: #00ffff;
  border-style: none;
}
/* line 42, ../sass/braindead.scss */
#braindead #braindead-bottom {
  background-color: #ff00ff;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
/* line 49, ../sass/braindead.scss */
#braindead .tab-content {
  background-color: red;
  font-size: 12px;
}
/* line 57, ../sass/braindead.scss */
#braindead #quiz-bottom-panel {
  color: white;
}
/* line 61, ../sass/braindead.scss */
#braindead #quiz-content-panel {
  background-color: blue;
  float: left;
  width: 80%;
}
/* line 66, ../sass/braindead.scss */
#braindead #quiz-content-panel .quiz-input {
  width: 80%;
}
/* line 70, ../sass/braindead.scss */
#braindead #quiz-content-panel #quiz-table {
  width: 100%;
  background-color: gray;
  height: 100%;
}
/* line 75, ../sass/braindead.scss */
#braindead #quiz-content-panel #quiz-table .tb-row {
  width: 100%;
  background-color: yellow;
}
/* line 79, ../sass/braindead.scss */
#braindead #quiz-content-panel #quiz-table .tb-data {
  background-color: purple;
  width: 100%;
  text-align: left;
}
/* line 87, ../sass/braindead.scss */
#braindead #quiz-add-panel {
  background-color: green;
  float: left;
  width: 20%;
}
