/* line 4, ../sass/braindead.scss */
#braindead {
  z-index: 2147483647;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 420px;
  height: 350px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
}
/* line 18, ../sass/braindead.scss */
#braindead .tab-content {
  font-size: 12px;
}
/* line 26, ../sass/braindead.scss */
#braindead #quiz-bottom-panel {
  color: white;
}
/* line 30, ../sass/braindead.scss */
#braindead #quiz-content-panel {
  float: left;
  width: 80%;
}
/* line 35, ../sass/braindead.scss */
#braindead #quiz-content-panel #quiz-table {
  width: 450px;
  height: 100%;
}
/* line 39, ../sass/braindead.scss */
#braindead #quiz-content-panel #quiz-table .tb-row {
  width: 100%;
}
/* line 42, ../sass/braindead.scss */
#braindead #quiz-content-panel #quiz-table .tb-data {
  text-align: left;
}
/* line 48, ../sass/braindead.scss */
#braindead #quiz-add-panel {
  float: left;
  width: 20%;
}
