/*
body {
  padding:0;
  margin:0;
}
  */
/* line 33, ../sass/braindead.scss */
#braindead-iframe {
  z-index: 2147483647 !important;
  display: none;
  background-color: rgba(0, 0, 0, 0.9) !important;
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  width: 420px !important;
  height: 350px !important;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* line 48, ../sass/braindead.scss */
#braindead {
  width: 420px;
  height: 350px;
}
/* line 52, ../sass/braindead.scss */
#braindead #braindead-login {
  background-color: transparent;
  border-style: none;
  width: 250px;
  height: 100px;
  margin: 100px auto;
}
/* line 59, ../sass/braindead.scss */
#braindead #braindead-login table {
  color: white;
}
/* line 63, ../sass/braindead.scss */
#braindead #braindead-login table tr td {
  padding: 5px;
  text-align: left;
}
/* line 71, ../sass/braindead.scss */
#braindead #braindead-main {
  background-color: transparent;
  border-style: none;
}
/* line 76, ../sass/braindead.scss */
#braindead #braindead-bottom {
  background-color: white;
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 99%;
  height: 24px;
  color: black;
}
/* line 85, ../sass/braindead.scss */
#braindead #braindead-bottom #braindead-infoscroller {
  float: left;
  width: 93%;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  position: absolute;
  bottom: 2px;
  left: 2px;
  background-color: #efefef;
}
/* line 97, ../sass/braindead.scss */
#braindead #braindead-bottom #braindead-logo {
  float: right;
  margin-right: 2px;
  margin-top: 2px;
  width: 20px;
  height: 20px;
}
/* line 104, ../sass/braindead.scss */
#braindead #braindead-bottom #braindead-logo #braindead-logo-img {
  width: 20px;
  height: 20px;
}
/* line 111, ../sass/braindead.scss */
#braindead .tab-content {
  background-color: transparent;
  font-size: 12px;
}
/* line 115, ../sass/braindead.scss */
#braindead .tab-content .title {
  color: white;
}
/* line 120, ../sass/braindead.scss */
#braindead #quiz-upper-panel {
  overflow: auto;
}
/* line 124, ../sass/braindead.scss */
#braindead #quiz-upper-panel #quiz-content-panel {
  background-color: transparent;
  float: left;
  width: 80%;
}
/* line 129, ../sass/braindead.scss */
#braindead #quiz-upper-panel #quiz-content-panel .quiz-input {
  width: 90%;
}
/* line 133, ../sass/braindead.scss */
#braindead #quiz-upper-panel #quiz-content-panel #quiz-table {
  width: 100%;
  background-color: transparent;
  height: 80px;
}
/* line 138, ../sass/braindead.scss */
#braindead #quiz-upper-panel #quiz-content-panel #quiz-table .tb-row {
  width: 100%;
  background-color: transparent;
}
/* line 142, ../sass/braindead.scss */
#braindead #quiz-upper-panel #quiz-content-panel #quiz-table .tb-data {
  background-color: transparent;
  width: 100%;
  text-align: left;
}
/* line 150, ../sass/braindead.scss */
#braindead #quiz-upper-panel #quiz-add-panel {
  background-color: transparent;
  float: left;
  width: 20%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
/* line 159, ../sass/braindead.scss */
#braindead #quiz-upper-panel #quiz-add-panel #quiz-add-button {
  margin-top: 47px;
  padding: 5px 15px;
  background: white;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 171, ../sass/braindead.scss */
#braindead #quiz-bottom-panel {
  overflow: auto;
  height: 140px;
}
/* line 177, ../sass/braindead.scss */
#braindead #quiz-bottom-panel #quizzes-table .quizzes-question {
  color: white;
}
/* line 181, ../sass/braindead.scss */
#braindead #quiz-bottom-panel #quizzes-table .quiz_delete {
  color: white;
}
