<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/libs/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/braindead.css">
  </head>

  <body style='margin:0px'>
    <div id='braindead'>

       <div id='braindead-main'>
         <ul>
           <li><a href='#braindead-tabs-1'>Quiz</a></li>
           <li><a href='#braindead-tabs-2'>Others</a></li>
           <li><a href='#braindead-tabs-3'>Config</a></li>
         </ul>
         <div id='braindead-tabs-1' class='tab-content'>
         </div>
         <div id='braindead-tabs-2' class='tab-content'>
         </div>
         <div id='braindead-tabs-3' class='tab-content'>
         </div>
       </div> <!-- end braindead-main -->

       <div id='braindead-bottom'>
       </div>
    </div>
  </body>
  <script src="/libs/jquery.min.js"></script>
  <script src="/libs/jquery-ui.min.js"></script>
  <script src="/libs/jquery.loadTemplate-1.4.4.min.js"></script>
  <script src="/libs/backbone-min.js"></script>

  <script src="/braindead_main.js"></script>
</html>
