   <div id='braindead-quiz_panel' class='tab-content'>
     <div id='quiz-uppper-panel'>
       <form>
         <div id='quiz-content-panel'>
           <table id='quiz-table'>
             <tr class='tb-row'>
               <td>
                 <font color='white'>Q:</font>
               </td>
               <td class='tb-data'>
                 <input type='text' value='Type Quiz Here' class='quiz-input'/>
                 <font color='white'>?</font>
               </td>
             </tr>
             <tr class='tb-row'>
               <td>
                 <font color='white'>A:</font>
               </td>
               <td class='tb-data'>
                 <input type='text' value='Type Answer Here' class='quiz-input'/>
               </td>
             </tr>
           </table>
         </div>
         <div id='quiz-add-panel'>
           <input type='submit' value='Add'/>
         </div>
       </form>
     </div>
     <hr style='width:100%'/>
     <div id='quiz-bottom-panel'>
     (Display questions just added, and click on the link will expose answers)
     </div>
   </div>
