

<div id='quiz-upper-panel'>
  <!--
  <form>
    -->
    <div id='quiz-content-panel'>
      <table id='quiz-table'>
        <tr class='tb-row'>
          <td>
            <font color='white'>Q:</font>
          </td>
          <td class='tb-data'>
            <input id='question' type='text' value='Type Question Here' class='quiz-input'/>
            <font color='white'>?</font>
          </td>
        </tr>
        <tr class='tb-row'>
          <td>
            <font color='white'>A:</font>
          </td>
          <td class='tb-data'>
            <input id='answer' type='text' value='Type Answer Here' class='quiz-input'/>
          </td>
        </tr>
      </table>
    </div>
    <div id='quiz-add-panel'>
      <a style='color:red' id='fb-share-button'>Share in FB</a>
      <br/>
      <input id='quiz-add-button' type='button' value='Add'/>
    </div>
    <!--
  </form>
  -->
</div>



<hr style='width:100%'/>
<div>
  <h3 class='title'>Quizzes:</h3>
</div>
<div id='quiz-bottom-panel'>
  <table id='quizzes-table'>
    <!--
    <tr>
      <td class='quizzes-question'>1. ooso</td>
      <td><a class='quiz_delete'>Delete</a></td> 
    </tr>
    -->
  </table>
</div>



